<h1>Welcome to TwitterLight</h1>
<p>Welcome to TwitterLight. A new way of using <a href="http://www.twitter.com">Twitter</a> with your friends without the heavy design of the Twitter main website. Register now to be part of this awesome experience.</p>

<%= link_to 'Sign up now', signup_path, :class => "signup_button round" %>